<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="project.ppaya.square.vo.User" alias="User" />
		<typeAlias type="project.ppaya.square.vo.User" alias="UserSchedule" />
		<typeAlias type="project.ppaya.square.vo.Album" alias="Album" />
		<typeAlias type="project.ppaya.square.vo.Group" alias="Group" />
		<typeAlias type="project.ppaya.square.vo.GroupBoard" alias="GroupBoard" />
		<typeAlias type="project.ppaya.square.vo.GroupAttendance" alias="GroupAttendance" />
		<typeAlias type="project.ppaya.square.vo.Event" alias="Event" />
		<typeAlias type="project.ppaya.square.vo.EventSchedule" alias="EventSchedule" />
		<typeAlias type="project.ppaya.square.vo.EventScheduleAttendance" alias="EventScheduleAttendance" />
		<typeAlias type="project.ppaya.square.vo.EventScheduleImage" alias="EventScheduleImage" />
		<typeAlias type="project.ppaya.square.vo.EventScheduleImageFace" alias="EventScheduleImageFace" />
		<typeAlias type="project.ppaya.square.vo.EventScheduleVideo" alias="EventScheduleVideo" />
		<typeAlias type="project.ppaya.square.vo.EventScheduleVideoFace" alias="EventScheduleVideoFace" />
	</typeAliases>
	<mappers>
		<mapper resource="shmapper/sh_mapper_user.xml" />
		<mapper resource="shmapper/sh_mapper_group.xml" />
		<mapper resource="yhmapper/yhuser_mapper.xml" />
		<mapper resource="yhmapper/yhuser_schedule_mapper.xml" />
		<mapper resource="yhmapper/yhalbum_mapper.xml" />
		<mapper resource="yhmapper/yhgroup_mapper.xml" />
		<mapper resource="yhmapper/yhgroup_board_mapper.xml" />
		<mapper resource="yhmapper/yhgroup_attendance_mapper.xml" />
		<mapper resource="yhmapper/yhevent_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_attendance_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_image_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_image_face_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_video_mapper.xml" />
		<mapper resource="yhmapper/yhevent_schedule_video_face_mapper.xml" />
	</mappers>
</configuration>
