<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHEventCommentMapper">
<select id="selectEventCommentByEventId" parameterType="int" resultType="EventComment">
SELECT
	*
FROM
	TABLE_ECO
WHERE
	EVENT_ID = #{event_id}
ORDER BY
	EVENT_COMMENT_ID
</select>
<select id="selectEventCommentByEventIdList" parameterType="list" resultType="EventComment">
SELECT
	*
FROM
	TABLE_ECO
WHERE
	1 = 0
	<foreach item="event_id" collection="list" open="OR" separator="OR">	
		EVENT_ID = #{event_id}
	</foreach>
</select>
</mapper>
