<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleImageDescriptionMapper">
<insert id="insertEventScheduleImageDescription" parameterType="map">
INSERT INTO TABLE_ESID
(
	EVENT_SCHEDULE_IMAGE_ID,
	DESCRIPTION
)
VALUES
(
	#{event_schedule_image_id},
	#{description}
)
</insert>
</mapper>
