<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleCommentMapper">
<delete id="deleteEventScheduleCommentByEventScheduleCommentIdUserId" parameterType="map">
DELETE FROM TABLE_ESCO
WHERE
	EVENT_SCHEDULE_COMMENT_ID = #{event_schedule_comment_id} AND
	USER_ID = #{user_id}
</delete>
<update id="updateContentByEventScheduleCommentIdUserId" parameterType="map">
UPDATE TABLE_ESCO
SET
	CONTENT = #{content}
WHERE
	EVENT_SCHEDULE_COMMENT_ID = #{event_schedule_comment_id} AND
	USER_ID = #{user_id}
</update>
<select id="selectEventScheduleCommentByEventScheduleCommentId" parameterType="int" resultType="EventScheduleComment">
SELECT
	*
FROM
	TABLE_ESCO
WHERE
	EVENT_SCHEDULE_COMMENT_ID = #{event_schedule_comment_id}
</select>
<select id="selectEventScheduleCommentByEventScheduleId" parameterType="int" resultType="EventScheduleComment">
SELECT
	*
FROM
	TABLE_ESCO
WHERE
	EVENT_SCHEDULE_ID = #{event_schedule_id}
ORDER BY
	EVENT_SCHEDULE_COMMENT_ID
</select>
<select id="selectEventScheduleCommentByEventScheduleIdList" parameterType="list" resultType="EventScheduleComment">
SELECT
	*
FROM
	TABLE_ESCO
WHERE
	1 = 0
	<foreach item="event_schedule_id" collection="list" open="OR" separator="OR">	
		EVENT_SCHEDULE_ID = #{event_schedule_id}
	</foreach>
</select>
</mapper>
