<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleMapper">
<select id="getEventScheduleIdByGroupIdListEventScheduleIdList" parameterType="map" resultType="int">
SELECT DISTINCT
	EVENT_SCHEDULE_ID
FROM
	TABLE_ES
WHERE
	(
	1 = 0
	<foreach item="group_id" collection="group_id_list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
	)
	AND
	(
	1 = 0
	<foreach item="event_schedule_id" collection="event_schedule_id_list" open="OR" separator="OR">
		EVENT_SCHEDULE_ID = #{event_schedule_id}
	</foreach>
	)
</select>
<select id="getEventScheduleIdByGroupId" parameterType="int" resultType="int">
SELECT
	EVENT_SCHEDULE_ID
FROM
	TABLE_ES
WHERE
	GROUP_ID = #{group_id}
</select>
<select id="getEventScheduleIdByGroupIdList" parameterType="list" resultType="int">
SELECT
	EVENT_SCHEDULE_ID
FROM
	TABLE_ES
WHERE
	1 = 0
	<foreach item="group_id" collection="list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
</select>
<select id="selectEventScheduleByGroupId" parameterType="int" resultType="EventSchedule">
SELECT
	*
FROM
	TABLE_ES
WHERE
	GROUP_ID = #{group_id}
</select>
<select id="selectEventScheduleByGroupIdList" parameterType="list" resultType="EventSchedule">
SELECT
	*
FROM
	TABLE_ES
WHERE
	1 = 0
	<foreach item="group_id" collection="list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
</select>
<insert id="insertEventSchedule" parameterType="map">
INSERT INTO TABLE_ES
(
	EVENT_SCHEDULE_ID,
	GROUP_ID,
	EVENT_ID,
	NAME,
	CONTENT,
	REGION,
	ADDRESS,
	LATITUDE,
	LONGITUDE,
	START_DATE,
	END_DATE
)
VALUES
(
	ES_SEQ.NEXTVAL,
	#{group_id},
	#{event_id},
	#{name},
	#{content},
	#{region},
	#{address},
	#{latitude},
	#{longitude},
	#{start_date},
	#{end_date}
)
</insert>
<select id="selectEventScheduleByEventScheduleId" parameterType="int" resultType="EventSchedule">
SELECT
	*
FROM
	TABLE_ES
WHERE
	EVENT_SCHEDULE_ID = #{event_schedule_id}
</select>
<select id="selectEventScheduleByEventId" parameterType="int" resultType="EventSchedule">
SELECT
	*
FROM
	TABLE_ES
WHERE
	EVENT_ID = #{event_id}
ORDER BY
	INPUT_DATE DESC
</select>
<select id="getEventScheduleIdByEventScheduleIdList" parameterType="list" resultType="int">
SELECT
	*
FROM
	TABLE_ES
WHERE
	1 = 0
	<foreach item="event_schedule_id" collection="list" open="OR" separator="OR">
		EVENT_SCHEDULE_ID = #{event_schedule_id}
	</foreach>
</select>
<select id="selectEventScheduleByEventIdList" parameterType="list" resultType="EventSchedule">
SELECT
	*
FROM
	TABLE_ES
WHERE
	1 = 0
	<foreach item="event_id" collection="list" open="OR" separator="OR">
		EVENT_ID = #{event_id}
	</foreach>
ORDER BY
	INPUT_DATE DESC
</select>
<select id="getEventScheduleIdByEventId" parameterType="int" resultType="int">
SELECT DISTINCT
	EVENT_SCHEDULE_ID
FROM
	TABLE_ES
WHERE
	EVENT_ID = #{event_id}
ORDER BY
	INPUT_DATE DESC
</select>
<select id="getEventScheduleIdByEventIdList" parameterType="list" resultType="int">
SELECT DISTINCT
	EVENT_SCHEDULE_ID
FROM
	TABLE_ES
WHERE
	1 = 0
	<foreach item="event_id" collection="list" open="OR" separator="OR">
		EVENT_ID = #{event_id}
	</foreach>
ORDER BY
	INPUT_DATE DESC
</select>
</mapper>
