<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleImageFaceMapper">
<delete id="deleteEventScheduleImageFaceByEventScheduleImageId" parameterType="string">
DELETE FROM TABLE_ESIF
WHERE
	EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id}
</delete>
<select id="selectEventScheduleImageFaceByEventScheduleImageId" parameterType="string" resultType="EventScheduleImageFace">
SELECT
	*
FROM
	TABLE_ESIF
WHERE
	EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id}
</select>
<select id="selectEventScheduleImageFaceByEventScheduleImageIdList" parameterType="list" resultType="EventScheduleImageFace">
SELECT
	*
FROM
	TABLE_ESIF
WHERE
	1 = 0
	<foreach item="event_schedule_image_id" collection="list" open="OR" separator="OR">
		EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id}
	</foreach>
</select>
<select id="getEventScheduleImageFaceIdByEventScheduleImageId" parameterType="string" resultType="string">
SELECT DISTINCT
	EVENT_SCHEDULE_IMAGE_FACE_ID
FROM
	TABLE_ESIF
WHERE
	EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id}
</select>
<select id="getEventScheduleImageFaceIdByEventScheduleImageIdList" parameterType="list" resultType="string">
SELECT DISTINCT
	EVENT_SCHEDULE_IMAGE_FACE_ID
FROM
	TABLE_ESIF
WHERE
	1 = 0
	<foreach item="event_schedule_image_id" collection="list" open="OR" separator="OR">	
		EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id}
	</foreach>
</select>
<select id="getEventScheduleImageIdByEventScheduleImageFaceId" parameterType="string" resultType="string">
SELECT DISTINCT
	EVENT_SCHEDULE_IMAGE_ID
FROM
	TABLE_ESIF
WHERE
	EVENT_SCHEDULE_IMAGE_FACE_ID = #{event_schedule_image_face_id}
</select>
<select id="getEventScheduleImageIdByEventScheduleImageFaceIdList" parameterType="list" resultType="string">
SELECT DISTINCT
	EVENT_SCHEDULE_IMAGE_ID
FROM
	TABLE_ESIF
WHERE
	1 = 0
	<foreach item="event_schedule_image_face_id" collection="list" open="OR" separator="OR">	
		EVENT_SCHEDULE_IMAGE_FACE_ID = #{event_schedule_image_face_id}
	</foreach>
</select>
<insert id="insertEventScheduleImageFace" parameterType="map">
INSERT INTO TABLE_ESIF
(
	EVENT_SCHEDULE_IMAGE_FACE_ID,
	EVENT_SCHEDULE_IMAGE_ID,
	TOP,
	LEFT,
	WIDTH,
	HEIGHT
)
VALUES
(
	#{event_schedule_image_face_id},
	#{event_schedule_image_id},
	#{top},
	#{left},
	#{width},
	#{height}
)
</insert>
<update id="updateEventScheduleImageFaceIdByEventScheduleImageIdRectangle" parameterType="map">
UPDATE TABLE_ESIF
SET
	EVENT_SCHEDULE_IMAGE_FACE_ID = #{event_schedule_image_face_id}
WHERE
	EVENT_SCHEDULE_IMAGE_ID = #{event_schedule_image_id} AND
	TOP = #{top} AND
	LEFT = #{left} AND
	WIDTH = #{width} AND
	HEIGHT = #{height}
</update>
</mapper>
