<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleVideoMapper">
<select id="selectEventScheduleVideoByEventScheduleIdList" parameterType="list" resultType="EventScheduleVideo">
SELECT
	*
FROM
	TABLE_ESV
WHERE
	1 = 0
	<foreach item="event_schedule_id" collection="list" open="OR" separator="OR">
		EVENT_SCHEDULE_ID = #{event_schedule_id}
	</foreach>
</select>
<select id="selectEventScheduleVideoByEventScheduleVideoIdList" parameterType="list" resultType="EventScheduleVideo">
SELECT
	*
FROM
	TABLE_ESV
WHERE
	1 = 0
	<foreach item="event_schedule_video_id" collection="list" open="OR" separator="OR">
		EVENT_SCHEDULE_VIDEO_ID = #{event_schedule_video_id}
	</foreach>
</select>
<update id="updateDetectDateByEventScheduleVideoId" parameterType="map">
UPDATE TABLE_ESV
SET
	DETECT_DATE = #{detect_date}
WHERE
	EVENT_SCHEDULE_VIDEO_ID = #{event_schedule_video_id}
</update>
<insert id="insertEventScheduleVideo" parameterType="map">
INSERT INTO TABLE_ESV
(
	EVENT_SCHEDULE_VIDEO_ID,
	FILENAME,
	EXT,
	DETECT_DATE,
	USER_ID,
	EVENT_SCHEDULE_ID
)
VALUES
(
	#{event_schedule_video_id},
	#{filename},
	#{ext},
	#{detect_date},
	#{user_id},
	#{event_schedule_id}
)
</insert>
<select id="selectEventScheduleVideoByEventScheduleVideoId" parameterType="string" resultType="EventScheduleVideo">
SELECT
	*
FROM
	TABLE_ESV
WHERE
	EVENT_SCHEDULE_VIDEO_ID = #{event_schedule_video_id}
</select>
<select id="getEventScheduleVideoIdByEventScheduleIdList" parameterType="list" resultType="string">
SELECT
	EVENT_SCHEDULE_VIDEO_ID
FROM
	TABLE_ESV
WHERE
	1 = 0
	<foreach item="event_schedule_id" collection="list" open="OR" separator="OR">
		EVENT_SCHEDULE_ID = #{event_schedule_id}
	</foreach>
</select>
</mapper>