<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHEventScheduleVideoFaceMapper">
<update id="updateEventScheduleVideoFaceIdByEventScheduleVideoImageId" parameterType="map">
UPDATE TABLE_ESVF
SET
	EVENT_SCHEDULE_VIDEO_FACE_ID = #{event_schedule_video_face_id}
WHERE
	EVENT_SCHEDULE_VIDEO_IMAGE_ID = #{event_schedule_video_image_id}
</update>
<insert id="insertEventScheduleVideoFace" parameterType="map">
INSERT INTO TABLE_ESVF
(
	EVENT_SCHEDULE_VIDEO_FACE_ID,
	EVENT_SCHEDULE_VIDEO_IMAGE_ID,
	EVENT_SCHEDULE_VIDEO_ID,
	DETECT_DATE
)
VALUES
(
	#{event_schedule_video_face_id},
	#{event_schedule_video_image_id},
	#{event_schedule_video_id},
	#{detect_date}
)
</insert>
<select id="selectEventScheduleVideoFaceByEventScheduleVideoId" parameterType="string" resultType="EventScheduleVideo">
SELECT
	*
FROM	
	TABLE_ESVF
WHERE
	EVENT_SCHEDULE_VIDEO_ID = #{event_schedule_video_id}
</select>
<select id="getEventScheduleVideoFaceIdByEventScheduleVideoId" parameterType="string" resultType="string">
SELECT
	EVENT_SCHEDULE_VIDEO_FACE_ID
FROM
	TABLE_ESVF
WHERE
	EVENT_SCHEDULE_VIDEO_ID = #{event_schedule_video_id}
</select>
</mapper>