<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHGroupHashtagMapper">
<select id="selectGroupHashtagByGroupId" parameterType="int" resultType="GroupHashtag">
SELECT
	*
FROM
	TABLE_GH
WHERE
	GROUP_ID = #{group_id}
</select>
</mapper>
