<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHGroupCategoryMapper">
<select id="selectGroupCategoryByGroupCategoryId" parameterType="int" resultType="GroupCategory">
SELECT
	*
FROM
	TABLE_GCA
WHERE
	GROUP_CATEGORY_ID = #{group_category_id}
</select>
<select id="selectGroupCategory" resultType="GroupCategory">
SELECT
	*
FROM
	TABLE_GCA
</select>
</mapper>
