<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHGroupMapper">
<select id="selectGroupByGroupId" parameterType="int" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	GROUP_ID = #{group_id}
</select>
<select id="selectGroupByGroupIdList" parameterType="list" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	1 = 0
	<foreach item="group_id" collection="list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
</select>
</mapper>
