<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHGroupCommentMapper">
<select id="getGroupCommentIdByGroupId" parameterType="int" resultType="int">
SELECT
	GROUP_COMMENT_ID
FROM
	TABLE_GCO
WHERE
	GROUP_ID = #{group_id}
</select>
<select id="selectGroupCommentByUserId" parameterType="string" resultType="GroupComment">
SELECT
	*
FROM
	TABLE_GCO
WHERE
	USER_ID = #{user_id}
</select>
<select id="selectGroupCommentByGroupId" parameterType="int" resultType="GroupComment">
SELECT
	*
FROM
	TABLE_GCO
WHERE
	GROUP_ID = #{group_id}
ORDER BY
	GROUP_COMMENT_ID
</select>
</mapper>
