<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.ppaya.square.yhmapper.YHGroupMapper">
<insert id="insertGroup" parameterType="map">
INSERT INTO TABLE_G
(
	GROUP_ID,
	GROUP_CATEGORY_ID,
	USER_ID,
	NAME,
	CONTENT,
	REGION,
	GROUP_LOGO,
	GROUP_IMAGE
)
VALUES
(
	G_SEQ.NEXTVAL,
	#{group_category_id},
	#{user_id},
	#{name},
	#{content},
	#{region},
	#{group_logo},
	#{group_image}
)
</insert>
<select id="getGroupIdByName" parameterType="string" resultType="int">
SELECT
	GROUP_ID
FROM
	TABLE_G
WHERE
	NAME LIKE '%' || #{name} || '%'
</select>
<select id="selectGroupByName" parameterType="string" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	NAME LIKE '%' || #{name} || '%'
</select>
<select id="selectGroupByGroupIdListNotGroupId" parameterType="map" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	(
	1 = 0
	<foreach item="group_id" collection="group_id_list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
	)
	AND
	GROUP_ID != #{group_id}
</select>
<select id="selectGroupByGroupCategoryIdName" parameterType="map" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	GROUP_CATEGORY_ID = #{group_category_id} AND
	NAME LIKE '%' || #{name} || '%'
</select>
<select id="selectGroupByGroupCategoryId" parameterType="int" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	GROUP_CATEGORY_ID = #{group_category_id}
</select>
<select id="selectGroupByGroupId" parameterType="int" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	GROUP_ID = #{group_id}
</select>
<select id="selectGroupByGroupIdList" parameterType="list" resultType="Group">
SELECT
	*
FROM
	TABLE_G
WHERE
	1 = 0
	<foreach item="group_id" collection="list" open="OR" separator="OR">
		GROUP_ID = #{group_id}
	</foreach>
</select>
</mapper>
