<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHKeywordHistoryMapper">
<select id="getKeywordByRank" resultType="string">
SELECT
    KEYWORD
FROM
    (SELECT KEYWORD, COUNT(*) AS COUNT FROM TABLE_KH WHERE ((CAST(SYSTIMESTAMP AS DATE) - DATE '1970-01-01') * 24 * 60 * 60 * 1000 + MOD( EXTRACT( SECOND FROM SYSTIMESTAMP ), 1 ) * 1000 - 32400000) - INPUT_DATE &lt; 86400000 GROUP BY KEYWORD ORDER BY COUNT DESC)
WHERE
    ROWNUM &lt; 5
</select>
<insert id="insertKeywordHistory" parameterType="string">
INSERT INTO TABLE_KH
(
	KEYWORD
)
VALUES
(
	UPPER(#{keyword})
)
</insert>
</mapper>
