<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.ppaya.square.yhmapper.YHUserMapper">
<select id="selectUserByUserId" parameterType="string" resultType="User">
SELECT
	*
FROM
	TABLE_U
WHERE
	USER_ID = #{user_id}
</select>
<select id="selectUserByUserIdList" parameterType="list" resultType="User">
SELECT
	*
FROM
	TABLE_U
WHERE
	1 = 0
	<foreach item="user_id" collection="list" open="OR" separator="OR">
		USER_ID = #{user_id}
	</foreach>
</select>
</mapper>
