html,
body {
  background: black;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: rotate(0); }
  50% { opacity: 1; }
  100% { opacity: 0; transform: rotate(90deg); }
}

@keyframes rotate1 {
  0% { transform: rotate3d(0, 1, 0, 0) scale(0); }
  100% { transform: rotate3d(0, 1, 0, 180deg) scale(1); }
}

@keyframes rotate2 {
  0% { transform: rotate3d(1, 0, 0, 0) scale(0); }
  100% { transform: rotate3d(1, 0, 0, -360deg) scale(1); }
}

.star {
  position: absolute;
  top: calc(50% - 96px);
  left: calc(50% - 75px);
  fill: white;
  transform-origin: 40% 90%;
  animation: fade-in-out 2.5s infinite;
  
  .large {
    transform-origin: 50% 50%;
    transform-style: preserve3d;
    animation: rotate1 2.5s infinite;

    &-2 {
      transform: rotate(45deg) scale(0.8);
      transform-origin: 33px 33px;
    }
  }

  .small {
    transform-origin: 50% 50%;
    transform-style: preserve3d;
    animation: rotate2 2.5s infinite;

    &-1 {
      transform: rotate(45deg) scale(0.667);
      transform-origin: 33px 33px;
    }
  }
}